.portal{
    width:100%;
    background-color:goldenrod;
    height:600px;
}
.header{
    background-color:goldenrod;
    padding: 20px;

}
.photo{
    float:left;
}
.header
{
    color:black;
    font-size: 30px;
    text-align: center;
}
.mq{
    color:blue;
}


.menu { float:left; width: 97%;  height: 60px; background-color:brown;  color:brown;font-size:30px ;margin-top:0px; }
.menu ul { overflow: hidden; z-index: 1000; position: absolute; }
.menu li a { display: block;color:white;text-align: center;font-size:22px; font-weight:bold;text-decoration: none;  padding: 10px; }
.menu li  { float: left;list-style: none;width: 90px;  color:white;text-align:center;font-size:22px; font-weight:bold; padding: 10px; }



.menu li a:hover  { background-color:pink; }


.menu li ul li a:hover{
background:pink; 
}
.navcontent{  float:left; height:500px; width:100%;  margin-top:-30px; margin-top:30px;}
.nav { float:left; height:500px; width:20%;  background-color:orange; color:white;}
.content { float:left; height:500px; width:80%;  background-color:palegoldenrod; color:white; text-align:center;}

